body {
    /*Remove default padding*/
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 1920px;
    width: 1080px;
    overflow: hidden;
}

#listbg {
    background: #455A64;
    width: 576px;
    height: 1080px;
}

#details {
    background: #455A64;
    width: 1344px;
    height: 1080px;

    position: absolute;
    left: 576px;
    top: 0px;
}

#bar {
    background: #607D8B;
    width: 1244px;
    height: 100px;

    display: flex;
    position: absolute;
    left: 626px;
    bottom: 50px;

    box-shadow: 0 0px 38px rgba(0,0,0,0.30), 0 0px 12px rgba(0,0,0,0.22);
}

#list {
    position: absolute;
    left: 58px;
      
}

#list-item-1 {
    position: absolute;
    top: -113.5px;

    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#list-item-2 {
    position: absolute;
    top: 159.5px;

    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#list-item-active {
    position: absolute;
    top: 432.5px;

    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 
    0 15px 12px rgba(0,0,0,0.22), 
    0px 0px 22px 10px rgb(255, 0, 69)

}

#list-item-4 {
    position: absolute;
    top: 705.5px;

    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#list-item-5 {
    position: absolute;
    top: 978.5px;

    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#video {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    width: 1000px;
    position: relative;
    left: 172px;
    top: 40px;
    /*margin: 50px 50px ;*/
}

#player {
    position: absolute;    
    bottom: 180px;
    left: 0px;
    background: #455A64;
    width: 448px;    
    height: 146px;    
    text-align: center;      
}

#genre {
    position: absolute;    
    bottom: 180px;
    left: 448px;
    background: #455A64;  
    width: 448px;    
    height: 146px;    
    text-align: center;     
}

#team {
    position: absolute;    
    bottom: 180px;
    left: 896px;
    background: #455A64;    
    width: 448px;
    height: 146px;  
    text-align: center;      
}

.gameDetail {
    position: absolute;    
    top: 64px;
    text-align: center;
    width: 448px;
    font-size: 40px;

    color: white;

    font-size: 31px;
    font-family: 'Roboto';
    font-weight: 500;
}

.round-btn{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  position: relative;
  box-shadow: 0px 5px 10px #666;
}

.a{
  background: #388e3c;
  left: 100px;
}


.b{
  background: #d32f2f;
  left: 300px;
}

.x{
  background: #1976d2;
}

.y{
  background: #fbc02d;
}

#a-btn {
    border: 1px solid black;
    width: 25%;
    height: 100%;
    position: relative;
}

#b-btn {
    border: 1px solid black;
    width: 25%;
    height: 100%;
    position: relative;
}

.round-btn-text{
  color: white;
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 55px;
  font-size: 31px;
  font-family: 'Roboto';
  font-weight: 300;
}

/* Palette generated by Material Palette - materialpalette.com/blue-grey/deep-orange */

.dark-primary-color    { background: #455A64; }
.default-primary-color { background: #607D8B; }
.light-primary-color   { background: #CFD8DC; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FF5722; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }
